{% extends 'base.html' %}{% load static %} {% block seo %}
<title></title>
{% endblock %} {% block style %}
<style></style>
{% endblock %} {% block body %}

<!-- Page Content -->
<div class="page-content">

    <!-- Ihbox -->
    <section class="ihbox-section-one">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="pbmit-ihbox-style-7">
                        <div class="pbmit-ihbox-box">
                            <div class="pbmit-icon-wrapper d-flex align-items-center">
                                <div class="pbmit-title-wrap">
                                    <h2 class="pbmit-element-title">Bread Baking</h2>
                                </div>
                            </div>
                            <div class="pbmit-content-wrapper">
                                <div class="pbmit-heading-desc">Electric Oven, Measuring Cylinder (25ml & 100ml), Bread Baking Pan. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbmit-ihbox-style-7 pt-md-0 pt-4">
                        <div class="pbmit-ihbox-box">
                            <div class="pbmit-icon-wrapper d-flex align-items-center">
                                <div class="pbmit-title-wrap">
                                    <h2 class="pbmit-element-title">Raw Wheat Test</h2>
                                </div>
                            </div>
                            <div class="pbmit-content-wrapper">
                                <div class="pbmit-heading-desc">Sieve Shaker, Dust, Shivilled, Barley, Thin & Broken Grains, Discolored. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbmit-ihbox-style-7 pt-xl-0 pt-4">
                        <div class="pbmit-ihbox-box">
                            <div class="pbmit-icon-wrapper d-flex align-items-center">
                                <div class="pbmit-title-wrap">
                                    <h2 class="pbmit-element-title">Ash</h2>
                                </div>
                            </div>
                            <div class="pbmit-content-wrapper">
                                <div class="pbmit-heading-desc">Muffle Furnace, Desiccator, Silica Dish, Calcium Chloride (Fused), Tong, Ceramic Plate, Single Pan Balance.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbmit-ihbox-style-7 pt-xl-0 pt-4">
                        <div class="pbmit-ihbox-box">
                            <div class="pbmit-icon-wrapper d-flex align-items-center">
                                <div class="pbmit-title-wrap">
                                    <h2 class="pbmit-element-title">Sedimentation Value</h2>
                                </div>
                            </div>
                            <div class="pbmit-content-wrapper">
                                <div class="pbmit-heading-desc">Sedimentation Shaker with Digital Timer, Measuring Cylinder with Stopper (100ml). </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ihbox End -->

    <!-- Who We Are Start -->
    <section>
        <div class="container">
            <div class="row g-0">
                <div class="col-md-12 col-xl-6">
                    <div class="who-we-are-one-leftbox">
                        <div class="fid-style-area">
                            <div class="pbminfotech-ele-fid-style-2">
                                <div class="pbmit-fld-contents">
                                    <div class="pbmit-fld-wrap">
                                        <h4 class="pbmit-fid-inner">
                                            <span class="pbmit-fid-before"></span>
                                            <span class="pbmit-number-rotate numinate"
                                                data-appear-animation="animateDigits" data-from="0" data-to="100"
                                                data-interval="5" data-before="" data-before-style="" data-after=""
                                                data-after-style="">100</span>
                                            <span class="pbmit-fid"><sup>%</sup></span>
                                        </h4>
                                        <div class="pbmit-fid-sub">
                                            <div class="pbmit-heading-desc">Purity. Quality. Trust.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pbmit-sticky-corner  pbmit-bottom-left-corner">
                                    <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30 30V0C30 16 16 30 0 30H30Z"></path>
                                    </svg>
                                </div>
                                <div class="pbmit-sticky-corner pbmit-top-right-corner">
                                    <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30 30V0C30 16 16 30 0 30H30Z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="who-we-are-one-content">
                        <div class="pbmit-heading-subheading animation-style4">
                            <h4 class="pbmit-subtitle">who we are</h4>
                            <h2 class="pbmit-title">Delivering Premium Wheat Products with Quality, Trust, and Excellence</h2>
                            <div class="pbmit-heading-desc">
                                Sai Darshan Foods is committed to providing high-standard atta, maida, sooji, and rawa through advanced processes, ensuring consistent quality and customer satisfaction in every grain.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pbmit-ihbox-style-4 pe-md-4">
                                    <div class="pbmit-ihbox-headingicon">
                                        <h2 class="pbmit-element-title">Purity in Every Bite</h2>
                                        <div class="pbmit-heading-desc">Sai Darshan Foods offers high-quality wheat products, ensuring freshness and purity in every bite, from our facilities to your table.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pbmit-ihbox-style-4 ps-md-4">
                                    <div class="pbmit-ihbox-headingicon">
                                        <h2 class="pbmit-element-title">Healthy Choices</h2>
                                        <div class="pbmit-heading-desc">Our commitment to health drives us to deliver nutritious atta, maida, and sooji that support your well-being and culinary creativity.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Who We Are End -->

    <!-- Service Start -->
    <section class="pbmit-extend-animation section-xl service-bg-one pbmit-bg-color-secondary pbmit-text-color-white mt-5">
        <div class="container">
            <div class="position-relative">
                <div class="pbmit-heading-subheading animation-style4">
                    <h4 class="pbmit-subtitle">Our Machines</h4>
                    <h2 class="pbmit-title">Our Best Grain Separator</h2>
                </div>
                <div class="service-arrow swiper-btn-custom d-flex flex-row-reverse"></div>
            </div>
            <div class="swiper-slider" data-autoplay="false" data-arrows-class="service-arrow" data-loop="true"
                data-dots="false" data-arrows="true" data-columns="3" data-margin="30" data-effect="slide">
                <div class="swiper-wrapper">
                    <!-- Slide1 -->
                    <article class="pbmit-ele-service pbmit-service-style-1 swiper-slide">
                        <div class="pbminfotech-post-item">
                            <div class="pbminfotech-box-content">
                                <div class="pbmit-box-content-wrap">
                                    <div class="pbmit-service-image-wrapper">
                                        <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/website/service1.png' %}" class="img-fluid"
                                                    alt="service1.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pbmit-box-content-inner">
                                        <div class="pbmit-contant-box">
                                            <div class="pbmit-serv-cat">
                                                Grain Sorting
                                            </div>
                                            <h3 class="pbmit-service-title">Imas Dstoner
                                            </h3>
                                            <div class="pbmit-service-description">
                                                Separates grains by density, removing impurities for better quality.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide2 -->
                    <article class="pbmit-ele-service pbmit-service-style-1 swiper-slide">
                        <div class="pbminfotech-post-item">
                            <div class="pbminfotech-box-content">
                                <div class="pbmit-box-content-wrap">
                                    <div class="pbmit-service-image-wrapper">
                                        <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/website/service2.png' %}" class="img-fluid"
                                                    alt="service2.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pbmit-box-content-inner">
                                        <div class="pbmit-contant-box">
                                            <div class="pbmit-serv-cat">
                                                Grain Cleaning
                                            </div>
                                            <h3 class="pbmit-service-title">
                                                Bhuller Mtra Classifier
                                            </h3>
                                            <div class="pbmit-service-description">
                                                Removes dust, impurities, and oversized materials from grains efficiently.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide3 -->
                    <article class="pbmit-ele-service pbmit-service-style-1 swiper-slide">
                        <div class="pbminfotech-post-item">
                            <div class="pbminfotech-box-content">
                                <div class="pbmit-box-content-wrap">
                                    <div class="pbmit-service-image-wrapper">
                                        <div class="pbmit-featured-img-wrapper">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="{% static 'images/website/service3.png' %}" class="img-fluid"
                                                    alt="service3.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pbmit-box-content-inner">
                                        <div class="pbmit-contant-box">
                                            <div class="pbmit-serv-cat">Milling

                                            </div>
                                            <h3 class="pbmit-service-title">Roller Body
                                            </h3>
                                            <div class="pbmit-service-description">
                                                This roller system efficiently grinds grains into fine flour for production.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->

    <!-- Ihbox Start -->
    <section class="section-xl">
        <div class="container">
            <div class="pbmit-heading-subheading text-center animation-style4">
                <h4 class="pbmit-subtitle">Why Choose Us</h4>
                <h2 class="pbmit-title">Experience Excellence with <br> Sai Darshan Foods</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="pe-lg-5">
                        <div class="pbmit-ihbox-style-12">
                            <div class="pbmit-ihbox-box d-flex">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon" style="position: relative;">
                                        <!-- Replace the icon with a number and increase the size -->
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 48px; font-weight: bold;">
                                            1
                                        </div>
                                    </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Our Distinct Advantage</h2>
                                    <div class="pbmit-heading-desc">Choose Sai Darshan Foods for superior quality, fresh products, and unwavering commitment to your health.</div>
                                </div>
                            </div>
                        </div>                        
                        <div class="pbmit-ihbox-style-12 mt-md-5 mt-4">
                            <div class="pbmit-ihbox-box d-flex">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon" style="position: relative;">
                                        <!-- Replace the icon with a number and increase the size -->
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 48px; font-weight: bold;">
                                            2
                                        </div>
                                    </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Quality You Trust</h2>
                                    <div class="pbmit-heading-desc">We prioritize exceptional standards, ensuring every product delivers freshness and nutritional value for you. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="{% static 'images/website/choose/4.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pe-lg-4 mt-md-0 mt-5">
                        <div class="pbmit-ihbox-style-12">
                            <div class="pbmit-ihbox-box d-flex">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon" style="position: relative;">
                                        <!-- Replace the icon with a number and increase the size -->
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 48px; font-weight: bold;">
                                            3
                                        </div>
                                    </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Commitment to Excellence</h2>
                                    <div class="pbmit-heading-desc">Sai Darshan Foods guarantees premium quality and consistency, providing reliable nourishment for all.</div>
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-ihbox-style-12 mt-md-5 mt-4">
                            <div class="pbmit-ihbox-box d-flex">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon" style="position: relative;">
                                        <!-- Replace the icon with a number and increase the size -->
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 48px; font-weight: bold;">
                                            4
                                        </div>
                                    </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Reliable Choice</h2>
                                    <div class="pbmit-heading-desc">Trust us for quality wheat products that enhance your culinary creations and promote health</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ihbox End -->

    <!-- Portfolio Start -->
    <section>
        <div class="container-fluid px-4">
            <div class="swiper-slider" data-autoplay="true" data-loop="true" data-dots="false" data-arrows="false"
                data-columns="4" data-margin="30" data-effect="slide">
                <div class="swiper-wrapper align-items-center">
                    <!-- Slide1 -->
                    <article class="pbmit-portfolio-style-1 swiper-slide">
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/website/product1.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <div class="pbminfotech-titlebox">
                                    <div class="pbmit-port-cat">
                                        Product
                                    </div>
                                    <h3 class="pbmit-portfolio-title">
                                        Sooji
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide2 -->
                    <article class="pbmit-portfolio-style-1 swiper-slide">
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/website/product2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <div class="pbminfotech-titlebox">
                                    <div class="pbmit-port-cat">
                                        Product
                                    </div>
                                    <h3 class="pbmit-portfolio-title">
                                         Maida
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide3 -->
                    <article class="pbmit-portfolio-style-1 swiper-slide">
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/website/product3.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <div class="pbminfotech-titlebox">
                                    <div class="pbmit-port-cat">
                                        Product
                                    </div>
                                    <h3 class="pbmit-portfolio-title">
                                        Rawa
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide4 -->
                    <article class="pbmit-portfolio-style-1 swiper-slide">
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/website/product4.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <div class="pbminfotech-titlebox">
                                    <div class="pbmit-port-cat">
                                        Product
                                    </div>
                                    <h3 class="pbmit-portfolio-title">
                                        Maida
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Slide5 -->
                    <article class="pbmit-portfolio-style-1 swiper-slide">
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/website/product5.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="pbminfotech-box-content">
                                <div class="pbminfotech-titlebox">
                                    <div class="pbmit-port-cat">
                                        Product
                                    </div>
                                    <h3 class="pbmit-portfolio-title">
                                        Atta
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </article>
                        <div class="pbminfotech-post-content">
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="{% static 'images/homepage-1/portfolio/portfolio-img-09.jpg' %}" class="img-fluid"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->

    <!-- About Us Start -->
    <section>
        <div class="container mt-5 mb-5">
            <div class="about-us-one-bg">
                <div class="row g-0">
                    <div class="col-md-12 col-xl-6"></div>
                    <div class="col-md-12 col-xl-6">
                        <div class="about-us-one-rightbox">
                            <div class="pbmit-heading-subheading animation-style4">
                                <h4 class="pbmit-subtitle">What We Do</h4>
                                <h2 class="pbmit-title">Delivering Freshness and Nutrition</h2>
                                <div class="pbmit-heading-desc">
                                    At Sai Darshan Foods, we ensure every product is fresh and nutritious. Our advanced facilities and strict quality testing deliver premium atta, maida, sooji, and rawa, promoting health and enhancing your culinary experience.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="pbminfotech-ele-fid-style-3">
                                        <div class="pbmit-fld-contents d-flex align-items-center">
                                            <div class="pbmit-circle-outer" data-digit="90" data-fill="#ffffff"
                                                data-emptyfill="" data-before="" data-after="<sup>%</sup>"
                                                data-thickness="3" data-size="127">
                                                <div class="pbmit-circle">
                                                    <div class="pbmit-fid-inner">
                                                        <span class="pbmit-fid-before"></span>
                                                        <span class="pbmit-number-rotate numinate"
                                                            data-appear-animation="animateDigits" data-from="0"
                                                            data-to="100" data-interval="5" data-before=""
                                                            data-before-style="" data-after=""
                                                            data-after-style="">100</span>
                                                        <span class="pbmit-fid"><sup>%</sup></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pbmit-fid-sub">
                                                <h3 class="pbmit-fid-title">Nourishment Redefined</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-md-0 mt-3">
                                    <div class="pbminfotech-ele-fid-style-3">
                                        <div class="pbmit-fld-contents d-flex align-items-center">
                                            <div class="pbmit-circle-outer" data-digit="78" data-fill="#ffffff"
                                                data-emptyfill="" data-before="" data-after="<sup>%</sup>"
                                                data-thickness="3" data-size="127">
                                                <div class="pbmit-circle">
                                                    <div class="pbmit-fid-inner">
                                                        <span class="pbmit-fid-before"></span>
                                                        <span class="pbmit-number-rotate numinate"
                                                            data-appear-animation="animateDigits" data-from="0"
                                                            data-to="100" data-interval="5" data-before=""
                                                            data-before-style="" data-after=""
                                                            data-after-style="">100</span>
                                                        <span class="pbmit-fid"><sup>%</sup></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pbmit-fid-sub">
                                                <h3 class="pbmit-fid-title">Quality Crafted</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->

</div>
<!-- Page Content End -->


{% endblock %} {% block script %}
<script></script>
{% endblock %}